### All user ratings

In [31]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

ratings = pd.read_csv('/home/gh23935521/Downloads/movies2.csv')
ratings

       user            movie  rating
0    Lamark             ATSV     4.0
1    Lamark  American Psycho     4.0
2    Lamark            Joker     4.5
3    Lamark     Perfect Blue     3.5
4    Lamark        Kill Bill     5.0
5    Lamark           Dune 2     NaN
6     Emily             ATSV     4.0
7     Emily  American Psycho     NaN
8     Emily            Joker     NaN
9     Emily     Perfect Blue     4.5
10    Emily        Kill Bill     NaN
11    Emily           Dune 2     4.0
12     Chad             ATSV     4.5
13     Chad  American Psycho     3.5
14     Chad            Joker     4.0
15     Chad     Perfect Blue     NaN
16     Chad        Kill Bill     NaN
17     Chad           Dune 2     NaN
18    Tiana             ATSV     NaN
19    Tiana  American Psycho     NaN
20    Tiana            Joker     3.0
21    Tiana     Perfect Blue     3.5
22    Tiana        Kill Bill     4.0
23    Tiana           Dune 2     5.0
24  Stephen             ATSV     5.0
25  Stephen  American Psycho     3.5
26  Stephen            Joker     3.5
27  Stephen     Perfect Blue     4.0
28  Stephen        Kill Bill     5.0
29  Stephen           Dune 2     2.5

### Average ratings for each movie

In [32]:
ratings.groupby('movie').rating.mean()

movie
ATSV               4.375000
American Psycho    3.666667
Dune 2             3.833333
Joker              3.750000
Kill Bill          4.666667
Perfect Blue       3.875000
Name: rating, dtype: float64

### Average ratings for each user

In [33]:
ratings.groupby('user').rating.mean()

user
Chad       4.000000
Emily      4.166667
Lamark     4.200000
Stephen    3.916667
Tiana      3.875000
Name: rating, dtype: float64

### All normalized user ratings

In [38]:
# copies the data 
norm_ratings = ratings.copy() 
  
# apply normalization formula  
norm_ratings['rating'] = (norm_ratings['rating'] - norm_ratings['rating'].min()) / (norm_ratings['rating'].max() - norm_ratings['rating'].min())
      
# view normalized data 
norm_ratings

       user            movie  rating
0    Lamark             ATSV     0.6
1    Lamark  American Psycho     0.6
2    Lamark            Joker     0.8
3    Lamark     Perfect Blue     0.4
4    Lamark        Kill Bill     1.0
5    Lamark           Dune 2     NaN
6     Emily             ATSV     0.6
7     Emily  American Psycho     NaN
8     Emily            Joker     NaN
9     Emily     Perfect Blue     0.8
10    Emily        Kill Bill     NaN
11    Emily           Dune 2     0.6
12     Chad             ATSV     0.8
13     Chad  American Psycho     0.4
14     Chad            Joker     0.6
15     Chad     Perfect Blue     NaN
16     Chad        Kill Bill     NaN
17     Chad           Dune 2     NaN
18    Tiana             ATSV     NaN
19    Tiana  American Psycho     NaN
20    Tiana            Joker     0.2
21    Tiana     Perfect Blue     0.4
22    Tiana        Kill Bill     0.6
23    Tiana           Dune 2     1.0
24  Stephen             ATSV     1.0
25  Stephen  American Psycho     0.4
26  Stephen            Joker     0.4
27  Stephen     Perfect Blue     0.6
28  Stephen        Kill Bill     1.0
29  Stephen           Dune 2     0.0

### Normalized movie averages

In [40]:
norm_ratings.groupby('movie').rating.mean()

movie
ATSV               0.750000
American Psycho    0.466667
Dune 2             0.533333
Joker              0.500000
Kill Bill          0.866667
Perfect Blue       0.550000
Name: rating, dtype: float64

### Normalized user averages

In [41]:
norm_ratings.groupby('user').rating.mean()

user
Chad       0.600000
Emily      0.666667
Lamark     0.680000
Stephen    0.566667
Tiana      0.550000
Name: rating, dtype: float64

### Conclusion

Using normalized data has the advantage of placing measurements of different units and scale along the same scale for more accurate comparisons. However, it has the disadvantage of scaling the data to a smaller interval when outliers are present, therefore hindering it's accuracy. For example, when the compared to the original user averages, all the normal averages are closer to the midpoint between 0 and 1, creating the illusion that every user generally gave mediocre scores when in reality that's not the case. In the original averages you can see that all the movies are well favored amongst the users, as all of those averages are closer to 5.

### [Extra Credit] All standardized user ratings

In [44]:
std_ratings = ratings.copy()

# apply standardization formula  
std_ratings['rating'] = (std_ratings['rating'] - std_ratings['rating'].mean()) / (std_ratings['rating'].std())

std_ratings

       user            movie    rating
0    Lamark             ATSV -0.035033
1    Lamark  American Psycho -0.035033
2    Lamark            Joker  0.700655
3    Lamark     Perfect Blue -0.770721
4    Lamark        Kill Bill  1.436344
5    Lamark           Dune 2       NaN
6     Emily             ATSV -0.035033
7     Emily  American Psycho       NaN
8     Emily            Joker       NaN
9     Emily     Perfect Blue  0.700655
10    Emily        Kill Bill       NaN
11    Emily           Dune 2 -0.035033
12     Chad             ATSV  0.700655
13     Chad  American Psycho -0.770721
14     Chad            Joker -0.035033
15     Chad     Perfect Blue       NaN
16     Chad        Kill Bill       NaN
17     Chad           Dune 2       NaN
18    Tiana             ATSV       NaN
19    Tiana  American Psycho       NaN
20    Tiana            Joker -1.506409
21    Tiana     Perfect Blue -0.770721
22    Tiana        Kill Bill -0.035033
23    Tiana           Dune 2  1.436344
24  Stephen             ATSV  1.436344
25  Stephen  American Psycho -0.770721
26  Stephen            Joker -0.770721
27  Stephen     Perfect Blue -0.035033
28  Stephen        Kill Bill  1.436344
29  Stephen           Dune 2 -2.242097

### Standardized movie averages

In [45]:
std_ratings.groupby('movie').rating.mean()

movie
ATSV               0.516733
American Psycho   -0.525492
Dune 2            -0.280262
Joker             -0.402877
Kill Bill          0.945885
Perfect Blue      -0.218955
Name: rating, dtype: float64

### Standardized User Averages

In [46]:
std_ratings.groupby('user').rating.mean()

user
Chad      -0.035033
Emily      0.210197
Lamark     0.259243
Stephen   -0.157647
Tiana     -0.218955
Name: rating, dtype: float64